.contact {
  height: 40px;

  .col {
    margin-left: 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
  }

  .fab {
    margin-right: 0.5rem;
  }
}